*
{
	box-sizing: border-box;
	margin: 0px;
	font-family: cursive;
}
.navmenu
{
	font-size: 20px;
	color: darkcyan;
	font-weight: bolder;
}
.logo
{
	font-size: 25px;
	font-family: fantasy;
	font-variant: small-caps;
	color: midnightblue;
}
.menu{
	position: relative;
	top: 50px;
}
.menu div
{
	height: 400px;
	width: 100%;
	border: 5px solid black;
}
html
{
	scroll-behavior: smooth;
}